
<%# unless @employee.nil?%>  
<%# unless @employee.active == false %>  
<% unless @employee.current_assignment.nil? || @upcoming_shifts.empty? %>
<div id="shifts" >
  <h3>Upcoming Shifts</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_shifts.each do |shift| %>
          <tr>
            <td>
              <%= shift.date.strftime("%m/%d/%y") %>
          	</td>
          	<td> <%= shift.start_time.strftime("%r")%> - <%= shift.end_time.strftime("%r")%> </td>
            <td>
                <%= link_to(shift_path(shift), class: 'button tiny radius') do %>
                  &nbsp;View&nbsp;
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    

  <% else%>
    <em>No Upcoming Shifts </em>
  <% end %>
  <br/>
  <br/>
<% unless current_user.employee.role == "employee" || @employee.current_assignment.nil? %>
    <%#= link_to(new_shift_path(assignment_id: @employee.current_assignment.id), id: 'new_shift_link', class: 'button tiny radius', remote: true) do %>
    
    <%# end %>
    <% end %>
  <%# end %>
<%# end %>
</div>