<div id="centered2" >
	<%= render partial: "partials/index_structure", locals: {model_name: "flavor", 
                                                         primary: "current_flavors", 
                                                         secondary: nil,
                                                         sidebar: "inactive_flavors"} %>

</div>     