<div class="row">
  <div class="small-10 columns">
    <%= render partial: "flavor_details" %>
  </div>


<%= render partial: "partials/object_options", locals: {model_name: "flavor", object: @flavor}  %>