 <div id = "current_flavors" >
 <%unless !@store.active %>
	<% unless @current_flavors.empty? %>
	  <div class="panel callout radius">
	    <h3>Current Flavors for <%= @store.name %> </h3>
	    <ul>
	      <% @current_flavors.each do |flavor| %>
	      	<% if flavor.flavor.active == true && logged_in? && current_user.employee.role == "admin"%>
	        	<li><%= link_to flavor.flavor.name, flavor_path(flavor.flavor) %> </li>
	        <% elsif flavor.flavor.active == true %>
	        	<li> <%= flavor.flavor.name%> </li> 
	       	 <% end %>
        <% end %>
	    </ul>
	  </div>
	  	<%#= link_to(new_store_flavor_path(store_id: @store.id), id: 'new_storeflavor_link2', class: 'button tiny radius', remote: true) do %>
	  Add Flavor
	<%# end %>

	<% end %>
<%end%>
</div>