<div class="row">
  <div class="small-7 columns">
    <%= render partial: "job_details" %>
  </div>
</div>
<% unless current_user.employee.role == "employee" %>
	<%= render partial: "partials/object_options", locals: {model_name: "job", object: @job}  %>
<% end %>