<h3> Active Employees </h3>
<table>
	<thead>
		<tr>
			<th> Name </th>
			<th> Current Store </th>
			<th> Upcoming Shifts </th>
		</tr>
	</thead>
	<tbody>
				
				<% @active_employees.regulars.alphabetical.each do |employee| %>
					<tr>
					<td> <%= link_to employee.name, employee_path(employee) %> </td>
					<% if !employee.current_assignment.nil? %>
						<td> <%= link_to employee.current_assignment.store.name, store_path(employee.current_assignment.store) %> </td>
					<%else%>
						<td> Not currently assigned </td>
					<%end%>
					<% if employee.current_assignment.nil? || employee.current_assignment.shifts.upcoming.empty?%>
						<td> 0 </td>
					<%else%>
							<td> <%= Shift.upcoming.for_employee(employee).count %> </td>
					</tr>
					<%end%>
				<%end%>
	</tbody>

</table>

<%= will_paginate @active_employees, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>