<% if @incomplete_shifts.empty? %>
  <p><em>There are no incomplete shifts at this time.</em></p>
<% else %>
  <h3>Shifts to be completed</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @incomplete_shifts.each do |shift| %>
          <tr>
            <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
            <td><%= shift.date.strftime("%m/%d/%y") %></td>
            <td>
              <%= link_to(edit_shift_path(shift), class: 'button tiny radius warning') do %>
                &nbsp;Complete&nbsp;
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @incomplete_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>