 <div id = "current_flavors" >
	<% unless current_user.employee.current_assignment.nil?	%>
		<% unless @current_flavors.nil? || @current_flavors.empty? %>
		  <div class="panel callout radius">
		    <h3>Today's Flavors for <%= current_user.employee.current_assignment.store.name %> </h3>
		    <ul>
		      <% @current_flavors.each do |flavor| %>
		        	<li><%= link_to flavor.flavor.name, flavor_path(flavor.flavor) %> </li>
	        <% end %>
		    </ul>
		  </div>
		  	<%= link_to(new_store_flavor_path(store_id: current_user.employee.current_assignment.store.id), id: 'new_storeflavor_link', class: 'button tiny radius', remote: true) do %>
		  	Add Flavor
		<% end %>
		<% end %>
	<% end %>

</div>