<% unless current_user.employee.current_assignment.shifts.upcoming.empty? %>
  <h3>My Upcoming Shifts</h3>
  <div id = "shifts" >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.employee.current_assignment.shifts.upcoming.each do |shift| %>
            <tr>
              <td>
                <%= shift.date.strftime("%m/%d/%y") %>
            	</td>
            	<td> <%= shift.start_time.strftime("%r")%> - <%= shift.end_time.strftime("%r")%> </td>
              <td>
                  <%= link_to(shift_path(shift), class: 'button tiny radius') do %>
                    &nbsp;View&nbsp;
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      

  <%else%>
    <em>No Upcoming Shifts<em>
  <%end%>


</div>