<div class="row">
  <div class="large-12 columns">
    <h2><em>About A &amp; M Creamery</em></h2>

    <p>
        Some design notes about my creamery:
    </p>
    <p>
        Overall - I chose these color because I thought they were summery and pretty, and tried to keep the theme associated with my logo. 
    </p>
    <p>
        Employees - For the employee show page I wanted the clockin for it they have a shift to be front and center along with the basic information about their current shifts and assignments. I included how many hours they have worked this week because I felt like that was important for them to know. I also added the show my info button for easy access to their personal info beucae I did not allow them to see the employee index pages
    </p>
    <p>
        Managers - For the manager home page I felt the most important thing they needed to see at first was their incompleted task/ shifts. The "Complete All Shifts" button purpose is for the manager to quickly complete all incomplete tasks in one page. The complete method for shifts basically just goes down the line of every shift that needs to be completed after each succesive shift is completed. I also added a quick add button for shifts for managers because I have it set up so after you create a shift it stays on the new form so more shifts can easily be added.
    </p>
    <p>
        Admins - For the admins home I thought it was most important that they get a comprehensive view about the state of their company at the time. I list all stores with current flavors and upcoming shifts for that particular day for easy access. I also include all active managers and employees (included unassigned ones fyi). For employees I included how many shifts they are working because Alex and Mark probably want to see who is working alot up front. For the managers I included how many incomplete tasks there are for that store so the admins can see which managers are slacking essentially.
    </p>
    <p>
        (...and based on the contact picture, yes I did acutally work in an ice cream shop for 2 years...)
    </p>
    <%= image_tag 'IceCreamFlavors.jpg', :style => "padding-left:10em;padding-right:10em;"%>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>