<div class="row">
	<div class="small-10 columns">
		<h2>Contact Amazing and Marvelous Creamery</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Erin Dieringer</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("ediering@andrew.cmu.edu", "Erin Dieringer", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>614-949-8632</td>
			</tr>
		</table>

		
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>