<h2>Contact Amazing and Marvelous Creamery</h2>
<div class="row">
	<div class="small-centered columns", id="contact">

		<table>
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Erin Dieringer</td>
				<td><%= image_tag 'erin_ice_cream.jpg', :size => "120x60" %><td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("ediering@andrew.cmu.edu", "Erin Dieringer", :encode => "javascript") %> 
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>614-949-8632</td>
				<td></td>
			</tr>
		
		</table>
	</div>
	
</div>