<% if @shift.date = Date.today %>
	<div class="row">
  		<div class="small-12 columns">
  		</div>
  	</div>
 <%end%>

<div class="row">
  <div class="small-7 columns">
    <%= render partial: "shift_details" %>
  </div>
    <div class="small-5 columns">
    <%= render partial: "job_list" unless @shift.date >=  Date.current%>
    <%= render partial: "assignment_details" %>
  </div>

</div>
<% unless current_user.employee.role == "employee" %>
	<%= render partial: "partials/object_options", locals: {model_name: "shift", object: @shift}  %>
<% end %>